/*v*/
:root {
  --main-color: #ffffff;
  --main-light-color: #c7c5cd;
  --container-color: #6b6e7a;
  --text-color: #6b6e7a;
  --bg-color: #6b6e7a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #293041;
  position: relative;
}

/*img{
  width: 100%;
}*/

.box1 {
  width: 100px;
  height: 100px;
}

.box2 {
  width: 100px;
  height: 100px;
}

section {
  padding: 4rem 0 2rem;
}

.container {
  max-width: 938px;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav {
  background: #ffffff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 2rem;
}

.logo img {
  width: 70px;
}

.navbar {
  display: flex;
  column-gap: 2rem;
}

.navbar a {
  position: relative;
  color:  #6b6e7a;
  font-size: 1rem;
  font-weight: 500;
}

.navbar a:hover {
  color: #293041;
}

.navbar .active {
  color:  #6b6e7a;
}

.nav-icons {
  display: flex;
  column-gap: 2rem;
}

.nav-icons .menu {
  font-size: 24px;
  color:  #6b6e7a;
  cursor: pointer;
  display: none;
}

.nav-icons .menu:hover {
  color:#ffffff;
}

td {
  padding: 5px;
}

.total-balance {
  text-align: end;
}

.span {
  position: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -10px;
  right: -13px;
  font-size: 0.6rem;
  height: 15px;
  width: 15px;
  background-color: #ffffff;
}

.submenu {
  cursor: pointer;
}

/*sub-menu*/
.submenu #shopping-cart {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1;
  background-color: #6b6e7a;
  padding: 1.5rem;
  min-height: 400px;
  min-width: 300px;
  border-radius: 10px;
  overflow-y: auto;
  max-height: 600px;
}

#shopping-cart.active {
  display: flex;
}

#shopping-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

/*home*/
.home {
  max-width: 1540px;
  margin: auto;
  min-height: 645px;
  display: flex;
  align-items: center;
  background: #ffffff;
}

.home-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}

.home-text h1 {
  font-size: 40px;
}

.home-text p {
  font-size: 15px;
  margin: 8px 0 18px;
  color: #293041;
}

.button {
  padding: 13px 26px;
  background: #6b6e7a;
  color: #ffffff;
  font-weight: 400;
  border-radius: 8px;
}

.button:hover {
  background: #c7c5cd;
}

.heading {
  text-align: center;
  color: #ffffff;
}

.heading span {
  border-bottom: 3px solid #ffffff;
}

.featured-container {
  grid-template-columns: repeat(7, 1fr);
  /*grid-template-columns: repeat(auto-fit, minmax(17rem, auto));*/
  gap: 1.5rem;
  position: relative;
}

.featured-container .box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  background-color:  #6b6e7a;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 1px 2px 4px rgb(15 54 55/10%);
}

.pre-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 8;
}

.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 9;
}

.pre-btn {
  transform: rotate(180deg);
  background: transparent;
  left: 7rem;
}

.nxt-btn {
  right: 7rem;
  background: transparent;
}

.pre-btn img {
  opacity: 0.8;
}

.nxt-btn img {
  opacity: 0.8;
}

.pre-btn:hover img {
  opacity: 1;
}

.nxt-btn:hover img {
  opacity: 1;
}

/* Carousel */
#wrapper {
  width: 100%;
  max-width: 964px;
  position: relative;
}

#carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  width: 30rem;
  margin: 1rem auto;
  position: relative;
}

#carousel::-webkit-scrollbar {
  height: 0;
}

#content {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}

.item {
  width: 180px;
  height: 180px;
  background: green;
}

/*SHOP PAGE*/
/* .brick-container{
  max-width: 1540px;
  margin: auto;
  min-height: 645px;
  display: flex;
  align-items: center;
  background: var(--main-color);
} */

/*.brick-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  /*grid-template-columns: repeat(auto-fit, minmax(17rem, auto));*/
/*gap: 1.5rem;
}*/

.shop-container {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /*grid-template-columns: repeat(auto-fit, minmax(17rem, auto));*/
  gap: 1.5rem;
  position: relative;
  padding-bottom: 5rem;
}

.shop-container .box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  background-color:  #6b6e7a;
  border-radius: 8;
  overflow: hidden;
  box-shadow: 1px 2px 4px rgb(15 54 55/10%);
}

/*FOOTER*/

footer {
  position: relative;
  min-height: 200px;
  padding: 45px 10vw;
  padding-bottom: 80px;
  background: #6b6e7a;
}

.category-title {
  grid-column: span 2;
  text-transform: capitalize;
  color: #fff;
  font-size: 20px;
  margin-bottom: 20px;
}

.category .footer-link {
  text-decoration: none;
  text-transform: capitalize;
  color: yellow;
}

.footer-link:hover {
  color: #fff;
}

.footer-title,
.info {
  color: #ffff;
  margin: 20px 0;
  text-transform: capitalize;
}

.footer-title {
  margin-top: 80px;
  color: #fff;
}

.footer-social-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.social-link {
  color: #fff;
  margin-left: 20px;
  text-transform: capitalize;
}

.social-link:nth-child(1) {
  margin-left: 0;
}

.footer-credit {
  text-align: center;
  color: #ffffff;
  background:  #6b6e7a;
}

.popup-menu {
  position: absolute;
  text-align: center;
  height: 200px;
  width: 400px;
  background-color: #293041;
  color: white;
  padding: 16px;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup-menu h2 {
  margin-bottom: 1rem;
}


.closeBtn {
  margin: 16px 0;
  padding: 14px 25px;
}


/* (A) ENTIRE PAGE */
#cart-products, #cart-items { padding: 10px; }
#cart-products { flex-grow: 1; }
#cart-items { width: 180px; }
input.cart, button.cart {
  padding: 10px;
  border: 0;
  background: violet;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

/* (B) PRODUCTS LIST */
#cart-products {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 10px;
}
.p-item {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  background-color: white;
}
.p-img { max-width: 150px; }
.p-name, .p-price { font-weight: 700; }
.p-name, .p-desc, .p-price { margin: 5px 0; }
.p-name {
  font-size: 22px;
  text-transform: uppercase;
}
.p-desc {
  color: palevioletred;
  font-size: 14px;
}
.p-price { color: #6b6e7a; }
.p-add { width: 100%; }

/* (C) CURRENT SHOPPING CART */
#cart-items {
  /* background: #31394d; */
  color: white;
  border-radius: 5px;
}

.c-item {
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.c-item--inner {
  display: flex;
/* flex-direction: column;*/
  align-items: center;
}
.c-name, .c-total {
  font-size: 17px;
  font-weight: 700;
  text-align: center;
}
.c-image img {
  height: 50px;
}
.c-name, .c-total, button.c-empty, button.c-checkout { width: 100%; }
.c-total, button.c-empty, button.c-checkout { margin-top: 10px; }
.c-del { width: 25%; }
.c-qty { width: 75%; height: 20px; }
.c-empty, .c-checkout { width: 100%; }



/*.home {
  max-width: 1540px;
  margin: auto;
  min-height: 645px;
  display: flex;
  align-items: center;
  background: #ffffff;
}*/



/*. p {
  font-size: 15px;
  margin: 8px 0 18px;
  color: #293041;
}*/

/*Admin*/

.bg-page {
  background-color: white;
  position: relative;
  overflow: scroll;
}
table,th,td{
  border: 1px solid;
}

th, td {
  padding: 100px;
  text-align: left;
}

tr:hover {
  background-color: coral;
}

/*tr:nth-child(even) {
  background-color: #f2f2f2;
}*/

th {
  background-color: violet;
  color: white;
}

/*EASTER SET*/
.easter-container{
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /*grid-template-columns: repeat(auto-fit, minmax(17rem, auto));*/
  gap: 1.5rem;
  position: relative;
  padding-bottom: 5rem; 
}

ul{
  color: #293041;
}

.easter-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}

.kit {
  max-width: 1540px;
  margin: auto;
  min-height: 645px;
  display: flex;
  align-items: center;
  background: #ffffff;
}

.kit-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}

.kit-text h1 {
  font-size: 40px;
}

.kit-text p {
  font-size: 15px;
  margin: 8px 0 18px;
  color: #293041;
}

.buy-button{
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background: #6b6e7a;
  color: #ffffff;
  font-weight: 400;
  border-radius: 8px;
}



.buy-button:hover {
  background: #c7c5cd;
}